.s-sidebar {
  width: 270px;
  background: #676869;
  color: #fff;
  flex-shrink: 0;
}
.s-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
}
.s-link:hover {
  background: rgba(255, 255, 255, 0.1);
}
.s-link.active {
  background: #ffffff22;
  font-weight: 600;
}
.s-sidebar .s-link {
  padding-left: 1.5rem;
  padding-bottom: 15px;
  padding-top: 15px;
}
.s-sidebar .s-link.active {
  background: #ffffff33;
}
.s-sidebar .s-link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.main-logo {
  margin: 0 !important;
  padding: 0 !important;
  height: 90px !important;
  width: 170px !important;
}

.card {
    min-height: 160px;
    border-radius: 8px;
    overflow: hidden;
}
